.target{
  background-color: aqua;
  width: 200px;
  height: 100px;
}
.cloud {
  width: 200px;
}
.bird {
  width: 100px;
}
.boy {
  width: 200px;
  position: absolute;
  left: 50%;
  top: 55%;
  /* text-align: center; */
  /* align-items: center; */
  /* margin: auto; */
}
.palm{
  position: relative;
  /* left: 20%; */
  top: 90%;
  bottom: 0px;
}